body {
    margin: 0;
    padding: 0;
    background-color: #eff5f8;
    font-family: "Roboto", sans-serif
}

button {
    background-color: #6392a7;
}

.date {
    color: #6392a7;
}

.circles {
    background-color: #78a374;
}